{% extends 'shop/header.html' %}

{% block content %}
<style>
    .content{
        margin: 3%;
        border: 1px solid lightgrey;
        text-align: center;
        padding: 3%;
    }
     .purp-button{
            color: white;
            font-family: "Bebas Neue";
            background-color: #6509ad;
            text-decoration: none;
            padding: 12px;
            border-radius: 10px;
            font-size: 20px;
        }
        .purp-button:hover{
            text-decoration: none;
            color: #dddddd;
        }
</style>
    <div>
        <div class="content">
            <h1 style="border-bottom: 1px solid #6509ad">Thank You For Your Purchase</h1>
            <br>
            <a class="purp-button" href="{% url 'menu-page' %}">Continue Shopping</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock content %}